body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 26px;
}
.wrapper {
    width: 100%;
    height: 100%;
}

.topnav {
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


.intro {
    overflow: hidden;
    text-align: center;
    color: white;
    height: 18em;
    width: 100%;
    background-image: url("images/banner.jpg");
    background-size: 100%;
}

.intro_projects {
    overflow: hidden;
    text-align: center;
    color: white;
    height: 10em;
    width: 100%;
    background-image: url("images/banner.jpg");
    background-size: 100%;
}


.intro h1 {
    font-style: italic;
}

.intro_projects h1 {
    font-style: italic;
}

#ethernet {
    width: 49%;
    height: 22.75em;
    background-image: url("/images/banner-networking-solutions.jpg");
    background-size: cover;
    float: left;
    max-height: 22.75em;
    overflow: auto;
}

#text-box {
    width: 47%;
    height: 20.75em;
    background-color: white;
    font-weight: bolder;
    float: right;
    margin: 1em;
    overflow: auto;
}

#left-header {
    width: 50%;
    height: 5em;
    float: left;
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    overflow: auto;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

.left-div {
    width: 50%;
    height: 20em;
    float: left;
    box-sizing: border-box;
    background-color: white;
    padding: 3em;
    margin-left: auto;
    margin-right: auto;
}

.left-div p {
    font-size: 0.8vw;
    font-weight: 525;
    margin: auto;
}

.right-div {
    width: 50%;
    height: 25em;
    text-align: center;
    float: right;
    box-sizing: border-box;
    overflow: auto;
    background-size: cover;
}

.right-div img {
    width: 80%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#color-break {
    height: 28em;
    width: 100%;
    margin: auto;
    background-image: url("images/banner.jpg");
    background-size: cover;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    float: left;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    float: left;
}

#footer {
    width: 100%;
    color: white;
    overflow: auto;
    font-size: 14px;
    background: rgb(22, 103, 153);
}

#footer-content {
    padding-left: 1em;
    width: 20%;
}